<h1>Editing Task</h1>

<%= render "form", task_manager_app: @task_manager_app %>

<br>

<div>
  <%= link_to "View Task", @task_manager_app %> |
  <%= link_to "Back to List", task_manager_apps_path %>
</div>
